<div class="absolute top-0 w-full z-10 py-5">
    <div class="container mx-auto px-4 flex items-center justify-between">
        <div [routerLink]="''">
            <img class=" cursor-pointer w-40" [src]="isLight ? 'images/Logo_dark.svg' : 'images/Logo.svg'">
        </div>
        <div class="lg:flex hidden gap-9 text-xl font-bold">
            <div [routerLink]="'about-me'" routerLinkActive="active" class="duration-300 hover:text-primary cursor-pointer">
                About me
            </div>
            <div [routerLink]="'contact-me'" routerLinkActive="active" class="duration-300 hover:text-primary cursor-pointer">
                Contact me
            </div>
            <div [routerLink]="'my-works'" routerLinkActive="active" class="duration-300 hover:text-primary cursor-pointer">
                My Works
            </div>
            <div [routerLink]="'blogs'" routerLinkActive="active" class="duration-300 hover:text-primary cursor-pointer">
                Blogs
            </div>
        </div>
        <div>
                <img (click)="toggleTheme()" class="lg:block hidden w-9 cursor-pointer duration-200 hover:brightness-150" #themeSwitcher [src]="isLight ? 'images/dark.svg' : 'images/light.svg'">
                <img class="lg:hidden block w-9 cursor-pointer duration-200 hover:scale-110"  [src]="isLight ? 'images/hamb_b.svg' : 'images/hamb_w.svg'">
        </div>
    </div>
</div>