<div class="absolute top-0 text-white w-full z-10 py-5">
    <div class="container mx-auto px-2 flex items-center justify-between">
        <div [routerLink]="''">
            <img class=" cursor-pointer w-40" src="images/Logo.svg">
        </div>
        <div class="flex gap-9 text-xl">
            <div [routerLink]="'about-me'" routerLinkActive="active" class="duration-300 hover:text-primary cursor-pointer">
                About me
            </div>
            <div [routerLink]="'contact-me'" routerLinkActive="active" class="duration-300 hover:text-primary cursor-pointer">
                Contact me
            </div>
            <div [routerLink]="'my-works'" routerLinkActive="active" class="duration-300 hover:text-primary cursor-pointer">
                My Works
            </div>
            <div [routerLink]="'blogs'" routerLinkActive="active" class="duration-300 hover:text-primary cursor-pointer">
                Blogs
            </div>
        </div>
        <div>
            <div>
                <img (click)="toggleTheme()" class="w-9 cursor-pointer duration-200 hover:brightness-150" #themeSwitcher src="images/light.svg">
            </div>
        </div>
    </div>
</div>