<div class="w-full py-10 border-t border-primary/25">
    <div class="container mx-auto px-2 text-center flex lg:flex-row flex-col gap-5 items-center justify-between">
        <div class="text-cont font-semibold">
            ©2024 All rights reserved.
        </div>
        <div class="flex gap-5">
            @for(social of socialMedia ; track social){
                <a [href]="social.name" target="_blank" class="p-2 rounded-sm border border-primary cursor-pointer relative hover:scale-110 hover:brightness-75 duration-200">
                    <img class="relative z-10 duration-200" [src]="social.image">
                </a>
            }
        </div>
    </div>
</div>