<footer class="w-full border-t border-white/5 mt-10">
    <div class="global-container mx-auto py-8 flex sm:flex-row flex-col gap-6 items-center justify-between text-center">
        <div class="font-normal text-sm text-primaryWhite/60" [innerHTML]="'footer.credit' | translate"></div>

        <div class="flex gap-3">
            <a [href]="'https://x.com/' + personalData.twitter" target="_blank"
                class="w-10 h-10 grid place-items-center rounded-full glass hover:border-primary hover:bg-primary/15 hover:-translate-y-1 duration-200">
                <img loading="lazy" class="w-4" src="images/x_c.svg" alt="X">
            </a>
            <a [href]="'https://github.com/' + personalData.github" target="_blank"
                class="w-10 h-10 grid place-items-center rounded-full glass hover:border-primary hover:bg-primary/15 hover:-translate-y-1 duration-200">
                <img loading="lazy" class="w-4" src="images/github_c.svg" alt="GitHub">
            </a>
            <a [href]="'https://linkedin.com/' + personalData.linkedin" target="_blank"
                class="w-10 h-10 grid place-items-center rounded-full glass hover:border-primary hover:bg-primary/15 hover:-translate-y-1 duration-200">
                <img loading="lazy" class="w-4" src="images/linkedin.svg" alt="LinkedIn">
            </a>
        </div>
    </div>
</footer>
