<div class="py-28 min-h-custom">
    <div class="container mx-auto px-3 flex flex-col items-center">
        <div class="common-headers text-primary text-4xl font-semibold">
            <p>Contact me</p>
            <div></div>
        </div>
        <div class="mt-16 lg:text-3xl text-xl">
            <a [href]="'mailto:' + personalDetails.mail" class="flex justify-center gap-3 bg-lighter-main-bg p-5 rounded-md cursor-pointer duration-200 hover:scale-105 hover:brightness-90">
                <img class="onlightBrightness w-7" src="images/mail.svg">
                <p>{{personalDetails.mail}}</p>
            </a>
            <a [href]="'tel:' + personalDetails.phone" class="flex justify-center gap-3 bg-lighter-main-bg p-5 rounded-md cursor-pointer duration-200 hover:scale-105 hover:brightness-90 mt-10">
                <img class="onlightBrightness w-7" src="images/phone.svg">
                <p>{{personalDetails.phone}}</p>
            </a>
            <div class="mt-10">
                Contact me on:
            </div>
            <div class="grid grid-cols-3 place-items-center gap-5 mt-5">
                @for(social of socialMedia ; track social){
                    <a [href]="social.name" target="_blank" class="p-4 rounded-sm border border-primary cursor-pointer relative hover:scale-110 hover:brightness-75 duration-200">
                        <img class="relative z-10 duration-200 w-10" [src]="social.image">
                    </a>
                }
            </div>
        </div>
    </div>
</div>