<div class="py-28 min-h-custom">
    <div class="container mx-auto px-3">
        <div class="w-full flex items-center justify-center">
            <img class="w-[300px] z-20 rounded-full duration-200 hover:scale-105 glowing-effect"
            src="images/selfie.png">
        </div>
        <div class="mt-10 text-center xl:text-3xl lg:text-2xl text-xl">
            My name is <span class="text-primary">Saad Aletek</span> and I'am a <span class="text-primary">Frontend</span> developer based in <span class="text-primary">Turkey</span>.
        </div>
        <div class="text-xl py-16 mt-16 border-b border-primary/25">
            <div class="text-center mb-10 text-3xl">Companies I worked with :</div>
            <div class="w-full flex items-center justify-center gap-10">
                <a href="https://sol-gr.com/" target="_blank" class="bg-lighter-main-bg p-5 rounded-[4px]">
                    <img src="images/SOL.svg">
                </a>
            </div>
        </div>
        <div class="text-xl py-16 border-b border-primary/25">
            <div class="text-center mb-10 text-3xl">Languages I speak :</div>
            <div class="grid xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 gap-10 w-full">
                @for(langu of languages ; track langu){
                    <div class="bg-lighter-main-bg p-4 rounded-[4px]">
                        <div class="flex w-full items-center justify-between">
                            <a target="_blank" [href]="'https://www.google.com/search?q=' + langu.name + '&oq= ' + langu.name +  '&gs_lcrp=EgZjaHJvbWUqDQgAEAAYgwEYsQMYgAQyDQgAEAAYgwEYsQMYgAQyBggBEEUYOzIGCAIQRRg7MgcIAxAAGIAEMgcIBBAAGIAEMgcIBRAAGIAEMgcIBhAAGIAEMgcIBxAAGIAEMgcICBAAGIAEMgYICRAuGEDSAQg2NTg3ajBqMagCALACAA&sourceid=chrome&ie=UTF-8'" class="text-xl duration-200 hover:text-primary">{{langu.name}}</a>
                            <div>{{langu.percentage}}%</div>
                        </div>
                        <div class="w-full bg-main-bg h-4 mt-3 rounded-[4px] overflow-hidden">
                            <div class="bg-primary-bg h-full" [style]="'width :' + langu.percentage + '%'"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="text-xl py-16">
            <div class="text-center mb-10 text-3xl">Skills I know :</div>
            <div class="grid xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 gap-10 w-full">
                @for(skill of skills ; track skill){
                    <div class="bg-lighter-main-bg p-4 rounded-[4px]">
                        <div class="flex w-full items-center justify-between">
                            <a target="_blank" [href]="'https://www.google.com/search?q=' + skill.name + '&oq= ' + skill.name +  '&gs_lcrp=EgZjaHJvbWUqDQgAEAAYgwEYsQMYgAQyDQgAEAAYgwEYsQMYgAQyBggBEEUYOzIGCAIQRRg7MgcIAxAAGIAEMgcIBBAAGIAEMgcIBRAAGIAEMgcIBhAAGIAEMgcIBxAAGIAEMgcICBAAGIAEMgYICRAuGEDSAQg2NTg3ajBqMagCALACAA&sourceid=chrome&ie=UTF-8'" class="text-xl duration-200 hover:text-primary">{{skill.name}}</a>
                            <div>{{skill.percentage}}%</div>
                        </div>
                        <div class="w-full bg-main-bg h-4 mt-3 rounded-[4px] overflow-hidden">
                            <div class="bg-primary-bg h-full" [style]="'width :' + skill.percentage + '%'"></div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>