@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');


:root {
  --primary : #6F2C8F;
  --main-bg : #232323;
  --lighter-bg : #404040;
  --font-color : #000000;
}

.border-main-black{
  border-color: var(--font-color);
}

.transBg {
  transition: background-color .2s ease-in-out;
}

*{
  font-family: "Jura", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:  var(--main-bg);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: var(--lighter-bg); 
    border-radius: 10px;
    transition: background-color .3s ease-in-out;
  }
  

  ::-moz-selection {
    color: var(--font-color);
    background: #6F2C8F57
  }
  
  ::selection {
    color: var(--font-color);
    background: #6F2C8F57
  }
  
  .rotated {
    rotate: 400deg;
    scale: 0;
}
.active{
    color: #6F2C8F ;
}


.common-headers{
  padding: 10px 20px;
  border-bottom: 1px solid #6F2C8F;
  position: relative;
}
.common-headers div{
  background: #6F2C8F;
  height: 1px;
  width: 60%;
  position: absolute;
  bottom: -15px;
  right: 50%;
  transform: translateX(50%);
}
.common-headers div::after{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -15px;
  border-radius: 50%;
  border: 1px solid #6F2C8F;
  top: 50%;
  transform: translateY(-50%);
}
.common-headers div::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  left: -15px;
  border-radius: 50%;
  border: 1px solid #6F2C8F;
  top: 50%;
  transform: translateY(-50%);
}


.transparent-gradient {
  background: linear-gradient(180deg, rgba(0,0,0,0) 20%, rgba(0, 0, 0, 0.836) 100%);
}


@keyframes scroll {
0% {
  transform: translateY(0);
}
30% {
  transform: translateY(70px);
}
}

svg #wheel {
animation: scroll ease 1.5s infinite;
}

.glowing-text {
      text-shadow: 0 0 20px #6F2C8F86;
}

.glowing-effect {
      box-shadow: 0 0 20px #702c8f65;
}
.glowing-effect:hover {
  box-shadow: 0 0 30px #702c8fab !important;

}

.blob {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #6F2C8F21;
  border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
}
.blob-1{
  rotate: 45deg;
}

.blob-2{
  rotate: 90deg;
}

.blob-3{
  rotate: 180deg;
}

.common-headers{
  padding: 10px 20px;
  border-bottom: 1px solid #6F2C8F;
  position: relative;
}
.common-headers div{
  background: #6F2C8F;
  height: 1px;
  width: 60%;
  position: absolute;
  bottom: -15px;
  right: 50%;
  transform: translateX(50%);
}
.common-headers div::after{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -15px;
  border-radius: 50%;
  border: 1px solid #6F2C8F;
  top: 50%;
  transform: translateY(-50%);
}
.common-headers div::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  left: -15px;
  border-radius: 50%;
  border: 1px solid #6F2C8F;
  top: 50%;
  transform: translateY(-50%);
}
.incGapAnimation{
  animation: incGap 1.5s ease-in-out infinite;
}
@keyframes incGap {
  0% , 100%{
      gap: 10px;
  }
  50%{
      gap: 16px;
  }
}

.transparent-gradient {
  background: linear-gradient(180deg, rgba(0,0,0,0) 20%, rgba(0, 0, 0, 0.836) 100%);
}


.body-light .onlightBrightness {
  filter: brightness(0);
}

.bg-main-bg{
  background-color: var(--main-bg);
}
.bg-lighter-main-bg{
  background-color: var(--lighter-bg);
}
.bg-primary-bg{
  background-color: var(--primary);
}
.border-lighter-main {
  border-color: var(--lighter-bg);
}
.text-cont {
  color: var(--font-color);
}
.min-h-custom{
  min-height: calc(100vh - 54px);
}