@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


:root {
  --primary : #7C3AED;

  --lighter-bg : #303030;
  --font-color : #fff;
}

.border-main-black{
  border-color: var(--font-color);
}

.transBg {
  transition: background-color .2s ease-in-out;
}

*{
  font-family: "Outfit", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--main-bg);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 10px;
    transition: background-color .3s ease-in-out;
  }
  

  ::-moz-selection {
    color: white;
    background: #7c3aed46
  }
  
  ::selection {
    color: white;
    background: #7c3aed46
  }
  
  .rotated {
    rotate: 400deg;
    scale: 0;
}
.active{
    color: #7C3AED ;
}


.transparent-gradient {
  background: linear-gradient(180deg, rgba(0,0,0,0) 20%, rgba(0, 0, 0, 0.836) 100%);
}


@keyframes scroll {
0% {
  transform: translateY(0);
}
30% {
  transform: translateY(70px);
}
}

svg #wheel {
animation: scroll ease 1.5s infinite;
}

.glowing-text {
      text-shadow: 0 0 20px #7C3AED86;
}

.glowing-effect {
      box-shadow: 0 0 20px #702c8f65;
}
.glowing-effect:hover {
  box-shadow: 0 0 30px #702c8fab !important;
}

.blob {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #7C3AED21;
  border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
}
.blob-1{
  rotate: 45deg;
}

.blob-2{
  rotate: 90deg;
}

.blob-3{
  rotate: 180deg;
}

.common-headers{
  font-weight: 600;
  padding: 16px 20px;
  border-bottom: 2px solid #ffffff9f; 
  position: relative;
}
.common-headers div{
  background: #ffffff9f;
  height: 2px;
  width: 60%;
  position: absolute;
  bottom: -15px;
  right: 50%;
  transform: translateX(50%);
}
.common-headers div::after{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  right: -15px;
  border-radius: 50%;
  border: 2px solid #ffffff9f;
  top: 50%;
  transform: translateY(-50%);
}
.common-headers div::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  left: -15px;
  border-radius: 50%;
  border: 2px solid #ffffff9f;
  top: 50%;
  transform: translateY(-50%);
}
.incGapAnimation{
  animation: incGap 1.5s ease-in-out infinite;
}
@keyframes incGap {
  0% , 100%{
      gap: 10px;
  }
  50%{
      gap: 16px;
  }
}

.transparent-gradient {
  background: linear-gradient(180deg, rgba(0,0,0,0) 20%, rgba(0, 0, 0, 0.836) 100%);
}

.MenuTransition{
    transition: transform .25s ease-in-out;
    transform: translateY(100vh);
}

body.popupOpen{
    touch-action: none;
    height: 100vh;
    overflow: hidden;
}

.body-light .onlightBrightness {
  filter: brightness(0);
}

.bg-main-bg{
  background-color: var(--main-bg);
}
.bg-lighter-main-bg{
  background-color: var(--lighter-bg);
}
.bg-primary-bg{
  background-color: var(--primary);
}
.border-lighter-main {
  border-color: var(--lighter-bg);
}
.text-cont {
  color: var(--font-color);
}
.min-h-custom{
  min-height: calc(100vh - 54px);
}


.global-container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem
}

@media (min-width: 640px) {
    .global-container {
        max-width:640px;
        padding-right: 1rem;
        padding-left: 1rem
    }
}

@media (min-width: 768px) {
    .global-container {
        max-width:768px
    }
}

@media (min-width: 1024px) {
    .global-container {
        max-width:1024px;
        padding-right: 1.5rem;
        padding-left: 1.5rem
    }

}

@media (min-width: 1280px) {
    .global-container {
        max-width:1280px;
        padding-right: 2rem;
        padding-left: 2rem
    }
}

@media (min-width: 1536px) {
    .global-container {
        max-width:1536px;
        padding-right: 3rem;
        padding-left: 3rem
    }
}