<div class="py-28 pb-16">
    <div class="container mx-auto px-3 flex flex-col items-center">
        <div class="common-headers text-primary text-4xl font-semibold">
            <p>My Works</p>
            <div></div>
        </div>
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-8 mt-32 w-full">
            <div class="overflow-hidden relative group rounded-md">
                <img class="w-full" src="images/themar.png">
                <div
                    class="absolute transparent-gradient -bottom-64 group-hover:bottom-0 duration-300 w-full h-64 pb-10 px-32 flex flex-col justify-end">
                    <div class="w-full text-center mb-4 text-2xl">
                        Themar
                    </div>
                    <div class="flex lg:flex-row flex-col justify-center items-center lg:gap-16 gap-5">
                        <a href="https://themar.sa/landing" target="_blank"
                            class="text-xl border border-white w-full text-center py-1 rounded-md cursor-pointer duration-200 hover:border-primary hover:text-primary">
                            Visit
                        </a>
                        <div
                            class="text-xl border border-white w-full text-center py-1 rounded-md cursor-pointer duration-200 hover:border-primary hover:text-primary">
                            Details
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-hidden relative group rounded-md">
                <img class="w-full" src="images/jhd.png">
                <div
                    class="absolute transparent-gradient -bottom-64 group-hover:bottom-0 duration-300 w-full h-64 pb-10 px-32 flex flex-col justify-end">
                    <div class="w-full text-center mb-4 text-2xl">
                        JHD
                    </div>
                    <div class="flex lg:flex-row flex-col justify-center lg:gap-16 gap-5">
                        <a href="https://visitalbalad.com/en" target="_blank"
                            class="text-xl border border-white w-full text-center py-1 rounded-md cursor-pointer duration-200 hover:border-primary hover:text-primary">
                            Visit
                        </a>
                        <div
                            class="text-xl border border-white w-full text-center py-1 rounded-md cursor-pointer duration-200 hover:border-primary hover:text-primary">
                            Details
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-hidden relative group rounded-md">
                <img class="w-full" src="images/4city.png">
                <div
                    class="absolute transparent-gradient -bottom-64 group-hover:bottom-0 duration-300 w-full h-64 pb-10 px-32 flex flex-col justify-end">
                    <div class="w-full text-center mb-4 text-2xl">
                        4city
                    </div>
                    <div class="flex lg:flex-row flex-col justify-center lg:gap-16 gap-5">
                        <a href="https://4city.org/en" target="_blank"
                            class="text-xl border border-white w-full text-center py-1 rounded-md cursor-pointer duration-200 hover:border-primary hover:text-primary">
                            Visit
                        </a>
                        <div
                            class="text-xl border border-white w-full text-center py-1 rounded-md cursor-pointer duration-200 hover:border-primary hover:text-primary">
                            Details
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-hidden relative group rounded-md">
                <img class="w-full" src="images/syrian.png">
                <div
                    class="absolute transparent-gradient -bottom-64 group-hover:bottom-0 duration-300 w-full h-64 pb-10 px-32 flex flex-col justify-end">
                    <div class="w-full text-center mb-4 text-2xl">
                        Syrian Alumni
                    </div>
                    <div class="flex lg:flex-row flex-col justify-center lg:gap-16 gap-5">
                        <a href="https://www.syrianalumni.club/" target="_blank"
                            class="text-xl border border-white w-full text-center py-1 rounded-md cursor-pointer duration-200 hover:border-primary hover:text-primary">
                            Visit
                        </a>
                        <div
                            class="text-xl border border-white w-full text-center py-1 rounded-md cursor-pointer duration-200 hover:border-primary hover:text-primary">
                            Details
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-hidden relative group rounded-md">
                <img class="w-full" src="images/nutera.png">
                <div
                    class="absolute transparent-gradient -bottom-64 group-hover:bottom-0 duration-300 w-full h-64 pb-10 px-32 flex flex-col justify-end">
                    <div class="w-full text-center mb-4 text-2xl">
                        Nutera
                    </div>
                    <div class="flex lg:flex-row flex-col justify-center lg:gap-16 gap-5">
                        <a href="https://www.nutera.app/" target="_blank"
                            class="text-xl border border-white w-full text-center py-1 rounded-md cursor-pointer duration-200 hover:border-primary hover:text-primary">
                            Visit
                        </a>
                        <div
                            class="text-xl border border-white w-full text-center py-1 rounded-md cursor-pointer duration-200 hover:border-primary hover:text-primary">
                            Details
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-hidden relative group rounded-md">
                <img class="w-full" src="images/passMan.png">
                <div
                    class="absolute transparent-gradient -bottom-64 group-hover:bottom-0 duration-300 w-full h-64 pb-10 px-32 flex flex-col justify-end">
                    <div class="w-full text-center mb-4 text-2xl">
                        Password manager
                    </div>
                    <div class="flex lg:flex-row flex-col justify-center lg:gap-16 gap-5">
                        <a href="https://www.syrianalumni.club/" target="_blank"
                            class="text-xl border border-white w-full text-center py-1 rounded-md cursor-pointer duration-200 hover:border-primary hover:text-primary">
                            Visit
                        </a>
                        <div
                            class="text-xl border border-white w-full text-center py-1 rounded-md cursor-pointer duration-200 hover:border-primary hover:text-primary">
                            Details
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>