.radius-blob {
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    animation: blobing 4s infinite ease-in-out;
    transition: border-radius .3s ease-in-out;
}

@keyframes blobing {
    0% {
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
    50% {
        border-radius: 35% 65% 27% 73% / 36% 64% 55% 42%;
    }
    75% {
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
    100% {
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
}