<div class="h-screen w-full relative pt-36">
    <div class="container mx-auto px-2 h-full flex items-center justify-between relative">
        <div>
            <div class="text-7xl leading-snug mb-20">
                <p>Hi I'm a</p>
                <p class="text-primary duration-300 hover:brightness-125 cursor-pointer font-bold glowing-text">Frontend Developer</p> 
                <p>based in <span class="text-primary duration-300 hover:brightness-125 cursor-pointer font-bold glowing-text">Turkey</span></p> 
            </div>
            <div class="flex items-center gap-3 duration-300 hover:gap-4 cursor-pointer text-primary hover:brightness-125  text-2xl">
                <div>More About me</div>
                <div>
                    <img src="images/arrowLeft.svg">
                </div>
            </div>
        </div>
        <div class="relative">
            <div class="absolute top-0 w-full h-full">
                <p class="blob blob-1"></p>
                <p class="blob blob-2"></p>
                <p class="blob blob-3"></p>
                <p class="blob blob-4"></p>
                <p class="blob blob-5"></p>
                <p class="blob blob-6"></p>
                <p class="blob blob-7"></p>
                <p class="blob blob-8"></p>
                <p class="blob blob-9"></p>
                <p class="blob blob-10"></p>
            </div>
            <img class="radius-blob w-full relative z-20" src="images/selfie.png">
        </div>
        <div class="absolute bottom-10 right-1/2 translate-x-1/2">
            <svg width="20px" height="100%" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
                <path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#fff;stroke-width:20px;"/>
                <path id="mouse" d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z" style="fill:none;stroke:#fff;stroke-width:20px;"/>
            </svg>
        </div>
    </div>
</div>

<!-- My Skills -->
 <div class="py-28 border-t border-primary">
    <div class="container mx-auto px-3 flex flex-col items-center">
        <div class="common-headers">
            My Skills
        </div>

    </div>
 </div>