<div class="h-screen w-full bg-dark relative text-white pt-36">
    <div class="container mx-auto px-2 h-full flex items-center justify-between ">
        <div>
            <div class="text-7xl leading-snug mb-20">
                <p>Hi I'm a</p>
                <p class="text-primary duration-300 hover:brightness-125 cursor-pointer font-bold">Frontend Developer</p> 
                <p>based in <span class="text-primary duration-300 hover:brightness-125 cursor-pointer font-bold">Turkey</span></p> 
            </div>
            <div class="flex items-center gap-3 duration-300 hover:gap-4 cursor-pointer text-primary hover:brightness-125  text-2xl">
                <div>More About me</div>
                <div class="flex">
                    <img src="images/arrowLeft.svg">
                </div>
            </div>
        </div>
        <div>
            <img class="w-full radius-blob" src="images/selfie.png">
        </div>
    </div>
</div>